################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MathOperations.Lib/bin/Debug/netcoreapp3.1
